<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Abstract Cloud</title>
    <script type="text/javascript" src="puzzle-local.js"></script>
    <!-- Stylesheets -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="http://puzzlelang.org/puzzle-invert.png">
    <!-- Android  -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="Puzzle Shell">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="leto-min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/@isomorphic-git/lightning-fs"></script>
    <script src="https://cdn.jsdelivr.net/npm/spooclient@0.0.14/dist/entry.bundle.js"></script>
</head>

<body>
    <div id="app">
      <div class="leto-width-full leto-p top_bar leto-group leto-vertical-center">
            Abstract Cloud Beta | 

            <!--div class="leto-inline-block leto-text-xs leto-text-white leto-m-none"><b>APP:</b></div-->
        <span v-show="authenticated">
            <div v-if="currentApp" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm leto-border-none leto-inline-block" v-on:click="currentApp = '__select' ">{{currentApp.name}}&nbsp; <span class="fa fa-caret-down"></span> </div>

            
            <div v-if="!currentApp" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="currentApp = '__select' ">ALL&nbsp; <span class="fa fa-caret-down"></span> </div>


             <!--div class="leto-text-white leto-p-xs leto-inline-block">
                    <div class="leto-bubble-wrapper-xs">
                        <div class="leto-bubble">
                        </div>
                        <label class="leto-text-xs leto-block">Objects</label>
                    </div>
                    <div class="leto-bubble-wrapper-xs">
                        <div class="leto-bubble">
                        </div>
                        <label class="leto-text-xs">Templates</label>
                    </div>
                    <div class="leto-bubble-wrapper-xs">
                        <div class="leto-bubble">
                        </div>
                        <label class="leto-text-xs">Users</label>
                    </div>
                    <div class="leto-bubble-wrapper-xs">
                        <div class="leto-bubble">
                        </div>
                        <label class="leto-text-xs">Logs</label>
                    </div>
               </div-->



            <br>

            <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm leto-click" style="position: absolute; right:10px; top:10px" v-on:click="logout()">Logout</div>
            
        </span><span v-if="!authenticated" >&nbsp; LOGIN</span>

        </div>

    <div class="leto-frame leto-group">

        <div class="leto-width-fifth leto-p-sm" v-show="authenticated">

              <div v-show="currentApp == '__select'">
                <div class="leto-block">
                    <div v-on:click="currentApp = null " class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm">ALL</div>
                </div>
                <div class="leto-block" v-for="app in applications">
                    <div v-on:click="currentApp = app" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm">{{app.name}}</div>
                </div>
            </div>

             <!--div class="leto-block leto-text-xs leto-text-white leto-m-xs"><b>SHELL</b></div>
                <div class="leto-block">
                    <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="setFile({});setContent('')">New shell</div>
                </div>

                <div class="leto-block">
                    <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="setFile({});setContent('get objects;');runCode('get objects;')">Objects</div>
                </div>

            <br-->

            <div class="leto-block leto-text-xs leto-text-white leto-m-xs"><b>Scripts</b> </div>

                <div class="leto-block">
                    <div class="leto-button-xs leto-bg-dark-black leto-border-none leto-text-white leto-text-sm" v-on:click="setFile({});setContent('')"><span class="fa fa-terminal leto-text-xxs"></span>&nbsp;New shell</div>
                </div>

                <div class="leto-block">
                    <div class="leto-button-xs leto-bg-dark-black leto-border-none leto-text-white leto-text-sm" v-on:click="setFile({});setContent('get objects;');runCode('get objects;')"><span class="fa fa-circle leto-text-xxs"></span>&nbsp;Data</div>
                </div>

                <!--br>
                <div class="leto-block leto-text-xs leto-text-white leto-m-xs"><b>Scripts</b> </div-->

                <div class="leto-block" v-for="file in pfiles_scripts">
                    <div class="leto-button-xs leto-bg-light-black leto-border-none leto-text-white leto-text-sm" v-on:click="currentFile=file;setContent(file.content.value)"><span class="fa fa-code leto-text-xxs"></span>&nbsp;{{file.name}} <span class="leto-click leto-ml-sm" v-on:click="deletePFile(file._id)"><span class="fa fa-times"></span></span></div>
                </div>
                
                
                <div class="leto-block" v-for="file in pfiles_visuals">
                    <div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm" v-on:click="currentFile=file;setContent(file.content.value)"><span class="fa fa-eye leto-text-xxs"></span>&nbsp;{{file.name}} <span class="leto-click leto-ml-sm" v-on:click="deletePFile(file._id)"><span class="fa fa-times"></span></span></div>
                </div>
                

                 <div class="dropdown">
  <span><div class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-xs">+</div></span>
  <div class="dropdown-content">
  <p class="leto-click" v-on:click="addPFile('script')"><span class="fa fa-code leto-text-xxs"></span>&nbsp;Cloud Script</p>
  <p class="leto-click" v-on:click="addPFile('visual')"><span class="fa fa-eye leto-text-xxs"></span>&nbsp;Visual Script</p>
  </div>
</div>

        <br>

       
        </div>

        <div class="leto-width-four-fifths leto-p-sm" v-show="authenticated">

            <!--div style="height: 200px;">
<textarea placeholder="Enter HTML Source Code" id="editing" spellcheck="false" oninput="update(this.value); sync_scroll(this);" onscroll="sync_scroll(this);" onkeydown="check_tab(this, event);"></textarea>
<pre id="highlighting" aria-hidden="true">
<code class="language-html" id="highlighting-content"></code>
</pre>
</div-->
            
          
            <div id="editor" class="leto-mt-sm"></div>

            <div v-show="currentFile.name" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm leto-mv" style="background: #111111" v-on:click="saveFile()"> <span class="fa fa-save"></span></div>

            <div v-show="currentFile.type == 'visual' || !currentFile.name" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm leto-mv" style="background: #111111" v-on:click="runCode(content)"> <span class="fa fa-play"></span>&nbsp;Run here</div>

            <div v-show="currentFile.type == 'script'" class="leto-button-xs leto-bg-black leto-border-none leto-text-white leto-text-sm leto-mv" style="background: #111111" v-on:click="callAction(currentFile.content.value)"> <span class="fa fa-play"></span>&nbsp;Run in cloud</div>

            <span v-show="currentFile.type == 'visual'"> | 
                <a target="_blank" class="leto-mh-sm leto-text-darker-grey leto-text-sm" v-bind:href="'https://abstract-cloud.github.io/view#'+currentFile.name">View UI<span class="leto-text-xs">&#8599;</span></a>
                
            </span>

            <br>

            <pre class="" id="output">{{output}}</pre>

            <br>

              <!--div class="leto-group" v-show="!currentFile.name">
                <div class="leto-bubble-wrapper-sm">
                    <div class="leto-bubble"></div>
                    <label>OBJECTS</label>
                </div>
            </div-->

        </div>

    
        <div class="leto-width-full leto-horizontal-center leto-vertcal-center leto-group leto-p-sm" v-if="!authenticated">
            
            <div>
                <span class="leto-text-xl leto-text-white leto-m">LOGIN</span>
                <br>
                <input type="text" class="leto-input-sm" v-model="loginData.workspace" placeholder="workspace">
                <br>
                <input type="text" class="leto-input-sm" v-model="loginData.username" placeholder="username">
                <br>
                <input type="password" class="leto-input-sm" v-model="loginData.password" placeholder="*******">
                <br>
                <div class="leto-button-xs leto-text-white leto-border-white" v-on:click="login()">Login</div>
            </div>
        </div>
    </div>
    </div>
    <script src="ace-builds-1.1.4/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="subdir.js"></script>
    <script src="index.js"></script>
    <script>
    // Read query string parameter
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    //document.title = getParameterByName('name') || 'Abstract Cloud'

    puzzle.parse(window.puzzle_script)



    function update(text) {
  let result_element = document.querySelector("#highlighting-content");
  // Handle final newlines (see article)
  if(text[text.length-1] == "\n") {
    text += " ";
  }
  // Update code
  result_element.innerHTML = text.replace(new RegExp("&", "g"), "&amp;").replace(new RegExp("<", "g"), "&lt;"); /* Global RegExp */
  // Syntax Highlight

//  Prism.highlightElement(result_element);

}

function sync_scroll(element) {
  /* Scroll result to scroll coords of event - sync with textarea */
  let result_element = document.querySelector("#highlighting");
  // Get and set x and y
  result_element.scrollTop = element.scrollTop;
  result_element.scrollLeft = element.scrollLeft;
}

function check_tab(element, event) {
  let code = element.value;
  if(event.key == "Tab") {
    /* Tab key pressed */
    event.preventDefault(); // stop normal
    let before_tab = code.slice(0, element.selectionStart); // text before tab
    let after_tab = code.slice(element.selectionEnd, element.value.length); // text after tab
    let cursor_pos = element.selectionEnd + 1; // where cursor moves after tab - moving forward by 1 char to after tab
    element.value = before_tab + "\t" + after_tab; // add tab char
    // move cursor
    element.selectionStart = cursor_pos;
    element.selectionEnd = cursor_pos;
    update(element.value); // Update text to include indent
  }
}


    </script>
</body>

</html>